{% extends "base.html" %}
{% block title %}About Page{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="card border">
        <div class="card-header">
            <h2>About FRAPTOpredict</h2>
        </div>
        <div class="about-container">
            <p><b>FRAPTOpredict</b> is a web-based application that utilizes machine learning to predict the price of Bitcoin. 
                The application is designed to provide users with accurate and up-to-date predictions based on historical 
                price data and sentiment analysis of tweets related to Bitcoin. By utilizing cutting-edge machine learning algorithms, 
                FRAPTOpredict is able to provide users with a reliable tool for making informed decisions about Bitcoin trading and investments. 
                Whether you're a seasoned trader or new to the world of Bitcoin, FRAPTOpredict is an essential tool for staying on top of the ever-changing cryptocurrency market.</p>
            <p></p>    
            <p>This project was developed by <b>Francis Subasinghe</b> as part of his final project for his Software Engineering degree at the <b>University of Westminster</b>.</p>
            <p>For more information, please contact us at <b>w1761877@my.westminster.ac.uk</b>.</p>
        </div>
    </div>
</div>

{% endblock %}
